/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400);
@import url(http://fonts.googleapis.com/css?family=Raleway:300,600,900);

@font-face {
    font-family: 'bebasregular';
    src: url('BEBAS___-webfont.eot');
    src: url('BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('BEBAS___-webfont.woff') format('woff'),
         url('BEBAS___-webfont.ttf') format('truetype'),
         url('BEBAS___-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'league_gothiccondensed_italic';
    src: url('leaguegothic-condenseditalic-webfont.eot');
    src: url('leaguegothic-condenseditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('leaguegothic-condenseditalic-webfont.woff') format('woff'),
         url('leaguegothic-condenseditalic-webfont.ttf') format('truetype'),
         url('leaguegothic-condenseditalic-webfont.svg#league_gothiccondensed_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'league_gothicCnRg';
    src: url('leaguegothic-condensedregular-webfont.eot');
    src: url('leaguegothic-condensedregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('leaguegothic-condensedregular-webfont.woff') format('woff'),
         url('leaguegothic-condensedregular-webfont.ttf') format('truetype'),
         url('leaguegothic-condensedregular-webfont.svg#league_gothicCnRg') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'league_gothicitalic';
    src: url('leaguegothic-italic-webfont.eot');
    src: url('leaguegothic-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('leaguegothic-italic-webfont.woff') format('woff'),
         url('leaguegothic-italic-webfont.ttf') format('truetype'),
         url('leaguegothic-italic-webfont.svg#league_gothicitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'league_gothicregular';
    src: url('leaguegothic-regular-webfont.eot');
    src: url('leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('leaguegothic-regular-webfont.woff') format('woff'),
         url('leaguegothic-regular-webfont.ttf') format('truetype'),
         url('leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1>a{
	text-align:center !important;
	color:#263248 !important;
	
	text-decoration:none !important;
}
h1>a:hover{
	text-decoration:underline !important;
}
h1{
	text-align: center !important;
	margin-top: 0;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
h2{
	text-align:center !important;
}

.list{
list-style-image:disk;}

#caption{
	font: 100%/1.4 'Open Sans',Helvetica,sans-serif;
	font-style:italic;

	color:#7E8AA2;
	text-align:center;

}
.content {
	text-align:center;
	 }

html { height:100%; }
	
body {
	font: 100%/1.4 'Open Sans',Helvetica, sans-serif;
	height:100%;
		background-color: white;
		opacity:0.85;
	background-size:auto;
	padding:0;
	margin:0;
	border: 0;
}


.title {
font: 150%/1.4 'Raleway',Helvetica, sans-serif;
font-weight:600;
margin-top:30px;
}
.heading{
font: 250%/1.4 'bebasregular',Helvetica, sans-serif;

font-weight:300;
font-style:bold;
	
	}
	
.heading2{
	font: 180%/1.4 'Raleway', Helvetica, sans-serif;
	font-weight:300;
	
}
ul.shape li {
	list-style-type:circle !important;
	display:list-item;
	list-style-position:inside;
	}
li span {
	font-weight:700;	
}
	
/* ~~ Element/tag selectors ~~ */
ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
	padding: 0;
	margin: 0;
}
li {
	display:inline;
	
}

a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}
/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
a:link {
	 /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}
a:visited {

}
a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: none;
}
.container {
	opacity:0.75;
	display:block;


	clear:both; 
	position:fixed;
	 overflow: hidden;

	margin: 0 auto -60px auto; 
	/* the auto value on the sides, coupled with the width, centers the layout */

}

a.link{
	text-decoration:underline;
	color:#263248 
}
.paragraph{

}
header, section,  aside, article, figure {
	display: block;
}
nav{
	    margin-left: auto;
		text-align:center;
    margin-right: auto;
	
}
ul li a, ul li a:visited {
     display:block;
     color:#263248;
     height:auto;
     line-height:20px;
     padding:10px;
}

#link {
	text-decoration:underline;
	background-color:transparent;
	display:inline;
	padding:0px;
	color:#000;
	
}
#link a:hover {
	text-decoration:underline;
	background-color:inherit;
	display:inline;
	padding:0px;
	color:#000;
	
}
      #map-canvas { 
	  float:left;
	  height: 100%;
	  width:70% 
	  }
	  #feeddiv{
		  float:right;
		  overflow:hidden;
	width:30%;
}

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
